<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Lets" value="https://pkgs.dev.azure.com/aguiabranca/Lets/_packaging/Lets/nuget/v3/index.json" />
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
	<Lets>
		<add key="Username" value="thiago.mendonca@5by5.com.br" />
		<add key="ClearTextPassword" value="d2jhrrjdbr5kj3b3ntxpiaihgd5lwjbgelrbuwowqfksu7hxl7la" />
	</Lets>
  </packageSourceCredentials>
</configuration>
